.breadcrumbs {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 15px;
  color: var(--gray);
}
.breadcrumbs a {
  color: rgb(120, 212, 247);
  text-decoration: none;
}
.banner-breadcrumbs {
  transform: translateY(-32px);
}
.page-filter {
  width: 200%;
  height: 200%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: .3s;
}
.page-filter.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mob-menu {
  z-index: 1001;
  background: #fff;
  height: 100vh;
  padding: 90px 30px 30px;
  transition: all 0.3s;
  max-width: 100%;
  top: 0;
  right: 0;
  min-width: 250px;
  position: fixed;
  transform: translateX(200%);
}
.mob-menu .header__socials {
  margin-top: 32px;
}
.mob-menu.active {
  transform: translateX(0);
}
.header__closeBar {
  position: absolute;
  left: 30px;
  top: 35px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1001;
}
.fixed-connects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: fixed;
  bottom: 10%;
  border-radius: 50px 50px 50px 50px;
  background-color: #f3f6fb;
  z-index: 999;
  right: 5%;
  padding: 8px;
  -webkit-box-shadow: 0px 5px 20px -5px rgba(207, 214, 223, 0.9);
  box-shadow: 0px 5px 20px -5px rgba(207, 214, 223, 0.9);
}
.fixed-connects-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.fixed-connects-btn img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.fixed-connects-btn-wa {
  background-color: #25d266;
  position: relative;

}
.fixed-connects-btn-wa img {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------------- HEADER ---------------- */

.header {
  background: #fff;
  border-bottom: 1px solid #b9b9b9;
  padding-bottom: 12px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 145px;
  z-index: 999;
}
.header-burger {
  display: none;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.brand {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.brand__logo {
  height: 64px;
  width: auto;
  display: block;
}
.header__socials {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  justify-self: center;
}
.ic img {
  width: 30px;
  height: 30px;
}

.header__right {
  justify-self: end;
  display: inline-flex;
  align-items: center;
  gap: 32px;
}

.bell img {
  width: 28px;
}


.header__phone {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text);
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}
.header__phone-ic {
  width: 21px;
  height: 21px;
}
.header__phone_wrapper {
    display: flex;
    gap: 20px;
}
.header__done {
  display: flex;
  align-items: start;
  gap: 10px;
  white-space: nowrap;
}
.header__done-ic {
  width: 20px;
  height: 20px;
}
.header__done-num {
  font-weight: 700;
  line-height: 1.05;
  font-size: 18px;
}
.header__done-sub {
  font-size: 15px;
  font-weight: 500;
}

.header__line {
  height: 1px;
  background: var(--line);
}

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  gap: 64px;
  color: var(--gray);
  font-size: 20px;
}
.nav__link {
  color: var(--gray);
  font-size: 20px;
  transition: .3s;
  position: relative;
}
.nav__link.active {
  color: #65bfe1;
  font-weight: 600;
}
.nav__link.active::after {
  content: '';
  width: 100%;
  height: 2px;
  background: #70cff4;
  position: absolute;
  bottom: -12px;
  left: 0;
}
.nav__link:hover {
  color: #65bfe1;
}

.nav__more {
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  font-size: 20px;
}

.become {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--gray);
  font-size: 20px;
  transition: .3s;
}
.become__ic {
  width: 23px;
}
.become:hover {
  color: #65bfe1;
}

/* ---------------- FIRST SCREEN ---------------- */

.first {
  position: relative;
}

.first__split {
  display: flex;
  min-height: 700px;
}

.first__left {
  background: #fff;
  padding: 70px 0 100px;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding-right: 64px;
  position: relative;
}
.banner-dec-1 {
  position: absolute;
  left: -20%;
  top: 28%;
}
.banner-dec-2 {
  position: absolute;
  bottom: 0;
  left: -40%;
}

.first__left-inner {
  display: block;
  z-index: 2;
  width: 100%;
}

.first__title {
  font-size: 48px;
  margin: 0 0 12px;
  line-height: 51px;
}
.first__sub {
  margin: 0 0 26px;
  color: var(--gray);
  font-size: 20px;
  line-height: 26px;
}
.first__link {
  color: var(--blue);
  text-decoration: none;
}

.calc {
  margin-top: 18px;
}

.calc__label {
  font-size: 18px;
  color: var(--gray);
  margin-bottom: 24px;
}
.calc__label span {
  color: var(--blue);
  font-weight: 700;
}

.range {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 14px;
  margin-bottom: 18px;
}
.range__min,
.range__max {
  font-size: 12px;
  color: #8a98a6;
  white-space: nowrap;
}
.range__input {
  width: 100%;
}

.field {
  display: grid;
  gap: 12px;
  flex: 1;
}
.field__label {
  font-size: 18px;
  color: var(--gray);
}

.custom-select {
  position: relative;
  width: 100%;
  font-size: 20px;
}

/* Скрываем нативный select */
.custom-select__native {
  display: none;
}

.custom-select__trigger {
  height: 50px;
  border-radius: 16px;
  border: 1px solid #cacaca;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #fff;
}

.arrow img{
    transition: .2s linear;
    width: 18px;
}

.custom-select.open .arrow img{
  transform: rotate(-180deg);
}

.custom-options {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  border-radius: 16px;
  border: 1px solid #cacaca;
  background: #fff;
  display: none;
  overflow: hidden;
  z-index: 10;
}

.custom-select.open .custom-options {
  display: block;
}

.custom-option {
  padding: 12px 14px;
  cursor: pointer;
}

.custom-option:hover {
  background: #f3f3f3;
}

.custom-option.selected {
  background: #eaeaea;
}

.calc__grid {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: end;
  margin-bottom: 24px;
  margin-top: 24px;
}

.badge {
  border-radius: 16px;
  border: 1px solid #65bfe1;
  background: #f3f7fb;
  display: grid;
  align-content: center;
  padding: 8px 14px;
  height: 80px;
  justify-content: center;
  text-align: center;
  width: fit-content;
}
.badge__top {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 13px;
  font-weight: 700;
}
.badge__fire {
  width: 13px;
  margin-top: -5px;
}
.badge__bottom {
  margin-top: 2px;
  color: var(--blue-2);
  font-weight: 700;
  font-size: 20px;
}

.calc__total {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 14px 0 8px;
}
.calc__total-left {
  font-weight: 700;
  font-size: 25px;
}
.calc__total-right {
  font-weight: 700;
  font-size: 25px;
}
.banner-btn {
    width: 100%;
}


/* RIGHT IMAGE HALF */
.first__right {
  background: #f5f7fb;
  position: relative;
  width: 50%;
}

.hero-img {
  position: absolute;
  inset: 0;
  width: 200%;
}

/* stamp */
.stamp {
  position: absolute;
  top: 30px;
  left: 40%;
}


/* floating messengers */
.float-mess {
  position: absolute;
  right: 26px;
  top: 260px;
  display: grid;
  gap: 12px;
}
.float-mess__btn {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  display: grid;
  place-items: center;
}
.float-mess__btn img {
  width: 22px;
  height: 22px;
}

/* bottom features bar */
.features {
  overflow: hidden;
  width: 100%;
  padding: 8px 0;
  background: var(--blue);
  color: #fff;
}

.features__track {
  display: flex;
  width: max-content;
  will-change: transform;
  transform: translate3d(0,0,0);
}

.features__content {
  display: flex;
  align-items: center;
  white-space: nowrap;
  flex-shrink: 0;
}

.features__item {
  padding: 0 100px;
  padding-left: 8px;
  font-size: 16px;
  font-weight: 600;
  flex-shrink: 0;
}

.features__dot {
  width: 18px;
  height: 18px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}
.features__dot::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: #fff;
    z-index: 2;
}

.banner_select__slider{
  --track-h: 10px;
  --thumb-size: 44px;
  --bg-track: #f3f7fb;
  --bg-fill: var(--blue);
  --bg-thumb: var(--blue);
    max-width: 680px;
    margin-bottom: 32px;
}

.banner_select__row{
  display:flex;
  align-items:center;
  gap:10px;
  margin: 0 0 10px;
}
.banner_select__label{
  color: var(--text);
  font-size: 16px;
  font-weight: 600;
}
.banner_select__value{
  color: #31a9ff;
  font-size: 16px;
  font-weight: 700;
}

/* трек */
.banner_select__track{
  position: relative;
  height: var(--thumb-size);
  display:flex;
  align-items:center;
  user-select:none;
  touch-action:none;
}
.banner_select__track::before{
  content:"";
  position:absolute;
  left:0; right:0;
  top:50%;
  transform: translateY(-50%);
  height: var(--track-h);
  background: var(--bg-track);
  border-radius: var(--radius);
}

/* заполнение */
.banner_select__fill{
  position:absolute;
  left:0;
  top:50%;
  transform: translateY(-50%);
  height: var(--track-h);
  width: 0%;
  background: var(--blue);
  border-radius: var(--radius);
}

/* HTML-кнопка ползунка */
.banner_select__thumb{
  position:absolute;
  top:50%;
  left:0;
  width: var(--thumb-size);
  height: var(--thumb-size);
  border: 5px solid #f3f7fb;
  background: var(--blue);
  cursor: grab;
  display:grid;
  place-items:center;
  padding:0;
  transition: none;
  display: flex;
  width: 66px;
  height: 50px;
  border-radius: 50px;
}

.banner_select__thumb_icon--right img {
    transform: rotate(180deg);
}
.banner_select__thumb_icon img {
    width: 15px;
    height: 15px;
}
/* внутрянка под иконки */
.banner_select__thumb_inner{
  width: 100%;
  height: 100%;
  display:flex;
  align-items:center;
  justify-content:center;
  gap: 8px;
}

/* подписи min/max */
.banner_select__minmax{
  display:flex;
  justify-content:space-between;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

/* advantages */
.advantages {
  overflow: hidden;
}
.advantages-items {
    display: flex;
    gap: 32px;
    position: relative;
}
.adv-dec-1 {
  position: absolute;
  top: -24%;
  left: -17%;
  width: 126px;
  height: 126px;
}
.adv-dec-2 {
  position: absolute;
  bottom: -25%;
  right: -16%;
  width: 395px;
}
.advantages-items .card {
    flex: 1;
    border-radius: 20px;
    background: #F2F6FC;
    padding: 32px 0px 20px;
    display: block;
    z-index: 2;
}
.advantages-items .card__title {
    font-size: 20px;
    color: var(--gray);
    font-weight: 600;
    max-width: 170px;
    line-height: 23px;
}
.card-title-wrap {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;
    padding: 0 20px;
}
.advantages-num {
    width: 50px;
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    border: 2px solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--gray);
}
.adv-img {
    max-width: 100%;
}


/* Howto */
.howto {
  overflow: hidden;
}
.howto .section-head {
  z-index: 5;
  position: relative;
}
.howto__tabs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: #f3f6fb;
  border-radius: 28px;
  z-index: 6;
  position: relative;
}

.howto__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 22px 10px;
  border: 0;
  border-radius: 28px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: unset;
}
.howto__tab::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -2px;
    transform: translateY(-50%);
    width: 1px;
    height: 24px;
    background: var(--text);
    z-index: 1;
}
.howto__tab:last-child::after {
    display: none;
}
.howto__tab.is-active::after {
    display: none;
}
.howto__tab.is-active {
  background: #54C4F6;
  color: #fff;
  z-index: 2;
}
.howto__tabicon {
    width: 27px;
}
.howto__tabicon-active {
    display: none;
    width: 27px;
}
.howto__tab.is-active .howto__tabicon {
    display: none;
}
.howto__tab.is-active .howto__tabicon-active {
    display: block;
}

.howto__tabicon { font-size: 18px; line-height: 1; }

/* Slider frame */
.howtoslider {
  position: relative;
  overflow: hidden;
  margin-top: -72px;
  z-index: 5;
}
.howto-dec-bg1 {
  position: absolute;
  left: -32px;
  height: 515px;
  top: 80px;
}
.howto-dec-bg2 {
  position: absolute;
  right: -32px;
  height: 515px;
  top: 80px;
  z-index: 5;
}
.howto-dec-1 {
  position: absolute;
  left: -14%;
  bottom: 40%;
  width: 87px;
}
.howto-dec-2 {
  position: absolute;
  right: -14%;
  top: 0;
  z-index: 4;
}
.howto-bg-dec {
  top: 0;
  position: absolute;
    height: 625px;
    right: -34%;
    z-index: 2;
}
.howto-bg-dec-2 {
      top: -80px;
  position: absolute;
  height: 800px;
  right: -34%;
  z-index: 3;
}

.howtoslider__slide {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; 
}

.howtoslider__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 35px;
}

/* Arrows (круглые по бокам) */
.howtoslider__nav {
  pointer-events: none;
}

.swiper-prev-buton,
.swiper-next-buton {
  pointer-events: auto;
  position: absolute;
  top: calc(50%);
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  z-index: 2;
}
.swiper-prev-buton img {
    width: 60px;
    height: 60px;
}
.swiper-next-buton img {
    width: 60px;
    height: 60px;
}
.swiper-prev-buton { left: -80px; }
.swiper-next-buton { right: -80px; }

.howtoslider__prev,
.howtoslider__next {
  pointer-events: auto;
  position: absolute;
  top: calc(50% - 60px);
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  z-index: 6;

}
.howtoslider__prev img {
    width: 60px;
    height: 60px;
}
.howtoslider__next img {
    width: 60px;
    height: 60px;
}
.howtoslider__prev { left: -120px; }
.howtoslider__next { right: -120px; }
.howto-swiper-block {
    position: relative;
}











.howtoslider__next::before { transform: rotate(45deg); }

/* Hotspots */
.howtoslider__hotspot {
    position: absolute;
    left: var(--x);
    top: var(--y);
    transform: translate(-50%, -50%);
}

.howtoslider__dot {
    width: 18px;
    height: 18px;
    display: block;
    border-radius: 50%;
    background: rgba(120, 212, 247, 0.7);
    position: relative;
    z-index: 2;
}
.howtoslider__dot::after {
    width: 8px;
    height: 8px;
    background: var(--blue-2);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 1;
    z-index: 3;
}
.howtoslider__hotspot.left .howtoslider__bubble {
    left: calc(100% - 6px);
    top: 50%;
    transform: translate(10px, -50%);
}
.howtoslider__hotspot.left .howtoslider__bubble::after {
    left: -6px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.howtoslider__hotspot.right .howtoslider__bubble {
    left: 20px;
    top: 50%;
    transform: translate(-110%, -50%);
}
.howtoslider__hotspot.right .howtoslider__bubble::after {
    left: unset;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    right: -4px;
}
.howtoslider__hotspot.bottom .howtoslider__bubble {
    left: 50%;
    top: 100%;
    transform: translate(-50%, 4px);
}
.howtoslider__hotspot.bottom .howtoslider__bubble::after {
    left: 50%;
    top: -6px;
    transform: translateX(-50%) rotate(45deg);
}
.howtoslider__bubble {
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translate(-50%, -100%);
  background: #fff;
  color: #6a6a6a;
  padding: 16px 16px;
  border-radius: 24px;
  font-size: 13px;
  line-height: 13px;
  width: max-content;
  max-width: 240px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.12);
  backdrop-filter: blur(6px);
  opacity: 1;
  text-align: center;
}

/* Небольшой "хвостик" как облачко */
.howtoslider__bubble::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.92);
}

/* Bottom cards */
.howto__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}

.howto__card {
  display: block;
  background: #f3f6fb;
  border-radius: 18px;
  padding: 24px 32px;
  text-decoration: none;
  color: inherit;
}

.howto__cardtext {
    font-size: 18px;
    color: var(--gray);
    line-height: 28px;
}
.howto__cardlink {
    font-size: 18px;
    color: var(--gray);
    line-height: 28px;
    display: flex;
    align-items: center;
    gap: 16px;
}


/* Pricings */
.pricing-items {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.pricing-item {
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.pricing-item__head {
  padding: 22px 15px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  border-radius: 26px 26px 0px 0px;
}

.pricing-item--light .pricing-item__head {
  background: #73d0fb;
}

.pricing-item--dark .pricing-item__head {
  background: #2f92b7;
}

.pricing-item__body {
  padding: 22px;
  padding-top: 32px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  flex: 1;
  border: 1px solid var(--blue);
  border-radius: 0 0 26px 26px;
  border-top: 0;
}

.pricing-item__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 16px;
  flex: 1;
}

.pricing-item__list li {
  position: relative;
  padding-left: 36px;
  font-size: 17px;
  color: var(--gray);
    line-height: 20px;
}



.pricing-item__price {
    font-weight: 700;
  font-size: 19px;
}

.pricing-item__price b {
  font-size: 18px;
}




/* Order */
.order {
  --card: #f3f7ff;
  --line: rgba(17, 19, 24, 0.08);

  padding: clamp(24px, 4vw, 56px) 0;
  color: var(--text);
  position: relative;
}
.order-dec-1  {
  position: absolute;
  left: -9%;
  bottom: 47%;
  transform: translateY(-50%);
}
.order-dec-2  {
  position: absolute;
  right: -9%;
  top: 25%;
  transform: translateY(-50%);
}

.order__inner {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

/* Left */
.order__title {
  margin: 0 0 20px;
  font-size: 40px;
  line-height: 44px;
  font-weight: 600;
}

.order__subtitle {
  margin: 12px 0 24px;
  color: var(--gray);
  font-size: 20px;
  font-weight: 500;
}

.order__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 8px;
}

.order__item {
  position: relative;
  padding-left: 18px;
  color: var(--gray);
  font-size: 18px;
}
.order__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 8px;
  height: 8px;
  border-radius: 999px;
  background: var(--blue-2);
}

/* Middle */
.order__media {
  position: relative;
  display: grid;
  justify-items: center;
  transform: translateX(-16px);
}

.order__img {
  width: min(360px, 100%);
  height: auto;
  display: block;
  object-fit: contain;
}

.order__badge {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  border-radius: 14px;
  padding: 8px 14px;
  box-shadow: 0 12px 30px rgba(17, 19, 24, 0.08);
  border: 1px solid rgba(17, 19, 24, 0.06);
  text-align: center;
  min-width: 180px;
  padding-top: 12px;
}

.order__badge-name {
  font-weight: 600;
    font-size: 18px;
    line-height: 12px;
}

.order__badge-role {
      color: #3093bb;
    font-size: 14px;
        line-height: 22px;
}

/* Right card */
.order__card {
  background: #F3F6FB;
  padding: 32px;
  padding-top: 44px;
  flex: 1;
  border: 1px solid rgba(234, 234, 234, 0.62);
  box-shadow: 0px 4px 6px rgba(174, 174, 174, 0.17);
  border-radius: 30px;
  max-width: 405px;
}

.order__card-title {
  margin: 0 0 28px;
    font-size: 24px;
     line-height: 26px;
  font-weight: 600;
  text-align: center;
}

.order__card-subtitle {
  margin: 0 0 24px;
  color: var(--gray);
  text-align: center;
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
}

/* Buttons */
.order__actions {
  display: grid;
  gap: 12px;
  margin-bottom: 18px;
}

.order__btn {
  height: 55px;
  border-radius: 999px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  text-decoration: none;
  font-weight: 500;
    font-size: 16px;  
  background: #fff;
  border: 1px solid transparent;
  transition: transform 0.12s ease, box-shadow 0.12s ease, border-color 0.12s ease;
}
.order__btn:active {
  transform: translateY(1px);
}
.order__btn-ic {
  display: inline-flex;
  color: currentColor;
  width: 28px;
}
.order__btn-ic img {
  width: 100%;
}
.order__btn-txt {
  width: 170px;
}
.order__btn--wa {
  border-color: #39ae41;
}
.order__btn--tg {
  border-color: #039be5;
}



/* Divider */
.order__divider {
  text-align: center;
  font-size: 20px;
  color: var(--gray);
  margin: 12px 0 20px;
  font-weight: 500;
}

/* Form */
.order__form {
  display: grid;
  gap: 12px;
}

.order__field {
  display: block;
}

.order__input {
  width: 100%;
  height: 50px;
  border-radius: 999px;
  border: 0;
  background: #ffffff;
  padding: 0 18px;
  outline: none;
  font-size: 15px;
  text-align: center;
  font-size: 18px;
  color: var(--gray);
  font-weight: 400;
}


.order__submit {
  width: 100%;
  height: 54px;
  border: 0;
  border-radius: 999px;
  background: linear-gradient(180deg, var(--blue) 0%, var(--blue-2) 100%);
  color: #fff;
  font-weight: 800;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 14px 30px rgba(57, 185, 255, 0.28);
  transition: transform 0.12s ease, box-shadow 0.12s ease;
}
.order__submit:active {
  transform: translateY(1px);
}
.order__submit:hover {
  box-shadow: 0 16px 36px rgba(57, 185, 255, 0.34);
}

/* Consent */
.order__consent {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 13px;
  color: var(--text);
  line-height: 1.35;
  margin-top: 10px;
  padding-left: 10px;
  user-select: none;
}

.order__check {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.order__check-ui {
  width: 17px;
  height: 17px;
  border-radius: 999px;
  border: 1.5px solid rgba(17, 19, 24, 0.18);
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 17px;
  margin-top: 1px;
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.order__check:checked + .order__check-ui {
  background: url('assets/img/check.svg') center center no-repeat;
  background-size: cover !important;
  border-color: transparent;
}


.order__consent-text a {
  color: rgb(3, 155, 229);
  text-decoration: underline;
}

/* a11y */
.order__sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}



/* Etaps */
.etaps-items {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}
.etaps-dec-1 {
  position: absolute;
  width: 113px;
  top: -10%;
  left: -17%;
}
.etap-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 250px;
}
.etap-item img {
  max-width: 220px;
  width: 100%;
  margin-bottom: 16px;
}
.etap-item-title {
  font-size: 25px;
  font-weight: 600;
  line-height: 39px;
  margin-bottom: 10px;
}
.etap-item-subtitle {
  font-size: 24px;
  line-height: 22px;
  margin-bottom: 20px;
  max-width: 180px;
}
.etap-item-text {
  font-size: 18px;
  color: var(--gray);
  font-weight: 500;
  line-height: 23px;
  max-width: 230px;
}
.etaps-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
.etaps__btn {
  padding-left: 64px;
  padding-right: 64px;
}



/* Reviews */
.reviews-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  gap: 24px;
  position: relative;
}
.rev-dec-1 {
  position: absolute;
  left: -18%;
  top: -2%;
  width: 223px;
  transform: rotate(232deg);
}
.rev-dec-2 {
  position: absolute;
  right: -17%;
  top: -28%;
  transform: rotate(232deg);
  width: 220px;
}
.rev-dec-3 {
  position: absolute;
  right: -16%;
  top: 6%;
}
.review-item {
  border-radius: 34px 34px 34px 34px;
  background-color: #f3f6fb;
  border: 1px solid #eaeaea;
  flex: 1;
  width: 100%;
}
.review-item-head {
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  border-bottom: 1px solid #eaeaea;
}
.review-item-head-title {
  display: flex;
  align-items: center;
  gap: 12px;
}
.review-item-head-grade {
  display: flex;
  align-items: center;
  gap: 6px;
}
.review-item-head-grade img {
  width: 24px;
}
.review-item-head-grade span {
  color: #28c375;
  font-size: 20px;
  font-weight: 700;
}
.review-item-head-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
}
.review-item-text {
  padding: 32px;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
}
.reviews-lower {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.reviews-ya-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}
.reviews-ya-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  max-width: 140px;
}
.reviews-ya-img img {
  max-width: 227px;
}
.reviews-lower-btn {
  padding-left: 48px;
  padding-right: 48px;
}


/* Connect section */
.connect {
  position: relative;
  padding-bottom: 44px;
}
.connect-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.connect-dec-1 {
  position: absolute;
  left: 21%;
  top: 0%;
}
.connect-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;

  object-fit: cover;
  height: 100%;
  object-position: right;
  z-index: -1;
}
.connect-wrapper .sub{
  max-width: 410px;
  margin-top: 8px;
}
.connect-form {
  display: flex;
  gap: 20px;
  align-items: end;
}
.connect-form-in-wrap {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.connect-form-in-wrap label {
  font-size: 18px;
  color: var(--gray);
  margin-bottom: 12px;
  font-weight: 500;
  line-height: 23px;
  padding-left: 8px;
}
.connect-form button {
  transform: translateY(-4px);
  padding-left: 64px;
  padding-right: 64px;
}
.connect-form-in-wrap input {
  border: 0;
  outline: 0;
  color: var(--gray);
  padding: 0 20px;
  background: #F3F6FB;
  font-size: 20px;
  font-weight: 500;
  border-radius: 14px;
  height: 52px;
  width: 400px;
}
.connect-form-in-wrap input::placeholder {
  color: rgba(126, 130, 131, 0.7);
}

/* Phonebox */
.phonebox-wrap {
  border-radius: 40px 40px 40px 40px;
  background-color: #f3f6fb;
  min-height: 524px;
  display: flex;
  align-items: center;
  padding-left: 80px;
  position: relative;
}
.phonebox-dec-1 {
  position: absolute;
  left: -10%;
  bottom: 40%;
  transform: rotate(262deg);
}
.phonebox-dec-2 {
  position: absolute;
  right: -10%;
  top: 12%;
  transform: rotate(327deg);  
}
.phonebox-wrap h2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  max-width: 590px;
  margin-bottom: 24px;
}
.phonebox-wrap p {
  font-size: 20px;
  line-height: 22px;
  color: var(--gray);
  max-width: 545px;
  margin-bottom: 20px;
}
.phonebox-actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 340px;
}
.phonebox-actions .order__btn-txt {
  color: var(--gray);
}
.phonebox-img-phone {
  position: absolute;
  right: 50px;
  bottom: 0;
  height: 566px;
  z-index: 3;
}
.phonebox-elipse-big {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  border-radius: 0 0 40px 0;
  width: 405px;
  object-fit: cover;
  object-position: left;
}
.phonebox-elipse-sm {
  position: absolute;
  bottom: 155px;
  right: 415px;
}


/* Sale */
.sale {
  position: relative;
  overflow: hidden;
  padding-bottom: 16px;
}
/* ===== sale-slider ===== */
.sale-slider {
  padding: 24px 0;
  position: relative;
}

.sale-slider__container {
  position: relative;
}

.sale-dec-1 {
  position: absolute;
  left: -17%;
  top: -36%;
  transform: rotate(232deg);
  width: 220px;
}
.sale-dec-2 {
  position: absolute;
  left: -24%;
  top: 12%;
  transform: rotate(232deg);
  width: 170px;
}
.sale-dec-3 {
  position: absolute;
  right: -100px;
  top: 48%;
  transform: rotate(232deg);
  width: 260px;
}



/* ===== Card ===== */
.sale-card {
  position: relative;
  min-height: 420px;
  border-radius: 34px;
  overflow: hidden;
  padding: 32px;
  padding-right: 20px;
  display: flex;
  align-items: stretch;

}

.sale-card__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sale-card__title {
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 29px;
  font-weight: 600;
  color: #fff;
}

.sale-card__text {
  margin: 0;
  font-size: 16px;
  line-height: 23px;
  color: #fff;
  max-width: 310px;
}


.sale-card-btn {
  margin: 0 auto;
  margin-top: auto;
  padding-left: 40px;
  padding-right: 40px;
  color: var(--text);
  border-radius: 24px;
}
.sale-card-btn::after {
  background: #fff;
}
.sale-card-btn::before {
  background: #ebebeb;
}
.sale-card__media {
  position: absolute;
  right: 0px;
  bottom: 0px;

  z-index: 1;
  pointer-events: none;
}
.sale-card--green .sale-card__media {
  right: -20px;
  bottom: -20px;
}
.sale-card__media img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sale-card-img-2 {
  position: absolute;
  right: 145px;
  bottom: 105px;
}
.sale-btn-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}
.sale-btn-low {
  padding-left: 64px;
  padding-right: 64px;
}

/* Градиенты как на скрине */
.sale-card--blue {
      background-image: linear-gradient(0.801turn, rgba(142, 208, 255, 1) 0%, rgba(62, 134, 246, 1) 100%);
}
.sale-card--yellow {
  background-image: linear-gradient(0.839turn, rgba(253, 252, 210, 1) 0%, rgba(254, 203, 75, 1) 100%);
}
.sale-card--green {
  background: linear-gradient(135deg, #26c57a 0%, #a4efb0 100%);
}



/* Example */
.examples-items {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}
.example-dec-1 {
  position: absolute;
  left: -13%;
  top: -25%;
  transform: rotate(232deg);
  width: 120px;
}
.example-dec-2 {
  position: absolute;
  right: -16%;
  top: -42%;
  transform: rotate(232deg);
  width: 120px;
}
.example-dec-3 {
  position: absolute;
  right: -10%;
  top: 8%;
  transform: rotate(344deg);
}
.examples-item {
  height: 340px;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 26px;
  flex: 1;
  background-repeat: no-repeat !important;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
}
.example-play-btn {
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.example-play-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;

}


/* Gift */
.gift {
  background: #f3f6fb;
  padding: 56px 0;
  margin-top: 64px;
}
.gift-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.gift-text-mob-title {
  display: none;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}
.gift-text {
  display: flex;
  gap: 32px;
}
.gift-text h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 8px;
}
.gift-text p {
  font-size: 18px;
  line-height: 20px;
  max-width: 400px;
}
.gift-form {
  display: flex;
  gap: 16px;
}
.gift-form input {
  border: 0;
  outline: 0;
  color: var(--gray);
  padding: 0 20px;
  background: #fff;
  font-size: 22px;
  font-weight: 500;
  border-radius: 14px;
  height: 52px;
  width: 350px;
}
.gift-form input::placeholder {
  color: rgba(126, 130, 131, 0.7);
}
.gift-form button {
  padding-left: 32px;
  padding-right: 32px;

}


/* Team */
.team-wrap {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
  position: relative;
}

.team-dec-1 {
  position: absolute;
  left: -4%;
  top: 0%;
  transform: rotate(232deg);
  width: 160px;
}
.team-dec-2 {
  position: absolute;
  left: -14%;
  bottom: -8%;
  transform: rotate(248deg);
}
.team-text h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 16px;
  max-width: 300px;
}
.team-text p {
  font-size: 20px;
  color: var(--gray);
  line-height: 22px;
  max-width: 460px;
}
.team-go-btn {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 32px;
}
.team-go-btn span {
  color: #49bff0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}
.team-go-btn-mob {
  display: none;
}
.team-go-btn-mob-a {
  display: none;
}
.team-items {
  display: grid;
  gap: 30px;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.team-item {
  position: relative;
  width: 100%;
  flex: 1;
  width: 270px;
  height: 340px;
  border-radius: 26px;
  background-color: #edeef0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.team-item-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 10px;
}
.team-item-grade {
  display: flex;
  gap: 8px;
  align-items: center;
}
.team-item-grade span {
  font-size: 18px;
  color: var(--gray);
  font-weight: 700;
  line-height: 20px;
}
.team-item-add {
  position: absolute;
  width: 28px;
  height: 28px;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
}
.team-item-img {
  position: absolute;
  bottom: 0;
  right: 10px;
  max-width: 185px;
}


/* Faq */
.faq {
  position: relative;
  overflow: hidden;
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.faq-wrap {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  position: relative;
  padding-bottom: 16px;
}
.faq-dec-1 {
  position: absolute;
  transform: rotate(232deg);
  left: -24%; 
  top: -10%;
  width: 230px;
}
.faq-dec-2 {
  position: absolute;
  right: -3%;
  bottom: 10%;
  transform: rotate(232deg);
  width: 300px;
}
.accordion-item {
  border: 1px solid #eaeaea;
  border-radius: 21px;
  margin-bottom: 16px;
  box-shadow: 0px 3px 15px 0px rgba(172, 174, 178, 0.16);
}
.accordion-item-header {
  padding: 27px 32px;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}
.accordion-item-header img {
  width: 31px;
  height: 31px;
  transition: transform 0.2s ease;
}
.accordion-item-header.active img {
  transform: rotate(45deg);
}
.accordion-item-body-content {
  border-radius: 13px 13px 13px 13px;
  background-color: #f3f6fb;
  padding: 20px;
  margin: 20px;
  margin-top: 0;
  font-size: 16px;
  line-height: 22px;
}
.faq-accordion-wrap {
  flex: 1;
}
.faq-wrap .order__card {
  height: fit-content;
}

/* Footer */
.footer {
  background: #f3f6fb;
  padding: 64px 0;
}
.footer-item-mob {
  display: none;
}

.footer-top-cols {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 64px;
}
.footer-col { 
  max-width: 200px;
  display: flex;
  flex-direction: column;
}
.footer-col-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  max-width: 190px;
  height: 40px;
  margin-bottom: 20px;
}
.footer-col a {
  font-size: 15px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--gray);
}
.footer-items {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer-logo {
  width: 213px;
  margin-bottom: 20px;
}
.footer-cont-item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 8px;
  max-width: 320px;
}
.footer-cont-item span {
  font-size: 15px;
  line-height: 16px;
  color: var(--gray);
  font-weight: 500;
  max-width: 325px;
}
.footer-cont-item {
  margin-bottom: 20px;
}
.footer-policy {
  margin-top: 64px;
}
.footer-policy a {
  text-decoration: underline;
}
.footer-policy p {
  margin-top: 4px;
}
.footer-mid-item-title {
  font-size: 18px;
  line-height: 19px;
  font-weight: 700;
  margin-bottom: 12px;
}
.footer-ya-rev {
  width: 156px;
  margin-bottom: 20px;
}
.footer-pays-items {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-pays {
  margin-bottom: 64px;
}
.footer-code-item {
  color: rgb(37, 37, 37);
}
.footer-code-item span {
  color: var(--gray);
}
.footer-item-mid {
  margin-top: auto;
}
.footer-c-btn {
  padding-left: 64px;
  padding-right: 64px;
  margin-bottom: 32px;
}
.footer-c-btn-mob {
  display: none;
}
.footer .header__socials {
  margin-top: 0px;
}
.footer-policy p {
  color: var(--gray);
}



/* Modal */
.modal {
  position: fixed;
  inset: 0;
  z-index: 9999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: all .3s;
}

.modal.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
}

.modal__dialog {
  position: relative;
  z-index: 1;

  width: min(450px, calc(100% - 32px));
  margin: auto auto;
  padding: 50px 40px;

  background: #fff;
  border-radius: 38px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3;
}

.modal__close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 26px;
  height: 26px;
}

.modal-content-wrap {
  text-align: center;
}
.modal-content-wrap h2 {
  font-size: 30px;
  line-height: 33px;
  font-weight: 600;
  margin-bottom: 32px;
}
.modal-form button {
  width: 100%;
  margin-top: 32px;
}
.modal__input {
  height: 50px;
  width: 100%;
  border-radius: 16px 16px 16px 16px;
  border: 1px solid #d1d1d1;
  padding: 0 16px;
  margin-bottom: 16px;
  box-shadow: none !important;
  outline: none !important;
  font-size: 20px;
  font-weight: 500;
}
.modal__input::placeholder {
  font-size: 20px;
  color: var(--gray);
  font-weight: 500;
}
.modal-form .order__consent {
  padding-left: 0;
  text-align: start;
}


/* Serices Table */
/* ===============================
   service__table
=================================*/

.service__table{
  --st-radius: 35px;
  --st-border: #e9f0f6;
  --st-head-bg: #f3f7fb;
  --st-line: #e9f0f6;
  --st-title: #3093bb;
  --st-text: #1f2a37;
  --st-muted: #8aa0b3;
  --st-disabled: #c7d4df;

  text-wrap: nowrap;
  width: 100%;
}

/* контейнер */
.service__table__wrap{
  position: relative;

  background: #fff;
  overflow: hidden;
}

/* ограничение высоты */
.service__table__scroll{
  max-height: 600px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

/* раскрытое состояние */
.service__table.is-open .service__table__scroll{
  max-height: none;
  overflow: visible;
}

/* таблица */
.service__table__grid{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid var(--st-border);
  border-radius: var(--st-radius);
}

.service__table__td span {
  font-weight: 600;
}

/* ===== ШАПКА ===== */

.service__table__th{
  background: var(--st-head-bg);
  color: var(--st-title);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  padding: 29px 14px;
  border-bottom: 1px solid var(--st-line);
  border-right: 1px solid var(--st-line);
  text-align: center;
}

.service__table__th--left{
  text-align: left;
  padding-left: 40px;
}

/* скругления */
.service__table__head .service__table__th:first-child{
  border-top-left-radius: var(--st-radius);
}
.service__table__head .service__table__th:last-child{
  border-top-right-radius: var(--st-radius);
  border-right: 0;
}

/* ===== ТЕЛО ===== */

.service__table__td{
  font-size: 15px;
  height: 40px;
  color: var(--text);
  padding: 0px 14px;
  border-bottom: 1px solid var(--st-line);
  border-right: 1px solid var(--st-line);
  vertical-align: middle;
}

.service__table__td--left{
  text-align: left;
  padding-left: 40px;
  text-wrap: nowrap;
  width: fit-content;
}

.service__table__td--center{
  text-align: center;
}

.service__table__tr:last-child .service__table__td{
  border-bottom: 0;
}

.service__table__td:last-child,
.service__table__th:last-child{
  border-right: 0;
}

/* ===== ЦЕНЫ ===== */

.service__table__price{
  font-weight: 600;
  color: #0f172a;
}



/* ===== ИКОНКИ ===== */

.service__table__icon{
  width: 26px;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
}



/* ===== СЕКЦИИ ===== */

.service__table__tr--section .service__table__td{
  border-right: 0;
  padding: 14px 28px;
}
.service__table__td .blue {
  color: #3093bb;
  font-weight: 700;
}
.service__table__section{
  color: var(--st-title);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .04em;
  font-size: 12px;
}
.service__table-btn {
  margin: 30px auto;
  margin-bottom: 15px;
  z-index: 10;
  padding-left: 124px;
  padding-right: 124px;
}


/* ===== ФЕЙД СНИЗУ ===== */

.service__table__fade{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 56px;
  height: 140px;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(255,255,255,0), #ffffff);
  transition: opacity .2s ease;
  
}

.service__table.is-open .service__table__fade{
  opacity: 0;
  visibility: hidden;
}

/* ===== КНОПКА ===== */

.service__table.is-open .service__table-btn{
  display: none;
}




/* Hub */
.hub-item {
  background: #fff;
  border-radius: 50px;
  border: 1px solid #eaeaea;
  box-shadow: 0px 3px 15px 0px rgba(172, 174, 178, 0.16);
  padding: 13px 20px;
  width: fit-content;
  font-size: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.hub-dot {
  width: 18px;
  height: 18px;
  display: flex;
  border-radius: 50%;
  background: rgba(120, 212, 247, 0.7);
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;
}
.hub-dot-in {
  width: 8px;
  height: 8px;
  background: var(--blue-2);
  content: "";
  border-radius: 50%;
  opacity: 1;
  z-index: 3;
}
.hub-item a {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.hub-items-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.hub-dec-1 {
  position: absolute;
  left: -13%;
  top: -11%;
  transform: rotate(232deg);
  width: 124px;
}
.hub-dec-2 {
  position: absolute;
  left: -8%;
  top: 64%;
  transform: rotate(232deg);
}
.hub-dec-3 {
  position: absolute;
  transform: rotate(232deg);
  right: -14%;
  bottom: -16%;
  width: 250px;
}