@media (max-width: 1920px) {

}

@media (max-width: 1440px) {
    .banner-dec-1 {
        left: 4%;
    }
    .adv-dec-1 {
        left: -14%;
    }
    .sale-dec-3 {
        right: -130px;
        top: 56%;
    }
    .faq-dec-2 {
        right: -12%;
    }
    .howtoslider__prev {
        left: -74px;
    }
    .howtoslider__next {
        right: -74px;
    }
}
@media (max-width: 1360px) {
    .howtoslider__prev {
        left: -20px;
    }
    .howtoslider__next {
        right: -20px;
    }
    .sale-card {
        padding-left: 44px;
    }
    .sale-slider__prev {
        left: -24px;
    }
    .sale-slider__next {
        right: -24px;
    }
    .banner-dec-1 {
        right: 12%;
        left: unset;
    }
    .team-wrap {
    justify-content: center;
    gap: 64px;
}
}
@media (max-width: 1200px) {
    .first__left {
        padding-left: 24px;
    }
    .howto-dec-bg1 {
        display: none;
    }
    .howto-dec-bg2 {
        display: none;
    }
}

@media (max-width: 992px) {
    .header__bottom {
        display: none;
    }
    .header .header__socials {
        display: none;
    }
    .header__top .bell {
        display: none;
    }
    .header__top .header__phone img {
        display: none;
    }
    .header__top .header__done {
        display: none;
    }
    .header {
        height: 80px;
    }
    .brand__logo {
        height: 45px;
    }
    .header__phone {
        font-size: 15px;
    }
    .first__right {
        display: none;
    }
    .first__left {
        width: 100%;
        padding: 32px;
        padding-bottom: 44px;
        justify-content: center;
    }
    main {
        padding-top: 80px;
    }
    .banner-dec-1 {
        display: none;
    }
    .banner-dec-2 {
        display: none;
    }

    .first__title {
        font-size: 39px;
        line-height: 39px;
    }
    .first__sub {
        font-size: 18px;
        line-height: 23px;
    }
    .calc__grid {
        gap: 16px;
    }
    .banner_select__thumb_inner {
        gap: 4px;
    }
    .banner_select__thumb {
        width: 53px;
        height: 44px;
    }
    .features__item {
        padding: 0 32px;
        padding-left: 8px;
    }
    .custom-select__trigger {
        padding: 0 16px;
    }
    .custom-select {
        font-size: 18px;
    }
    .section-head h2 {
        font-size: 33px;
        line-height: 51px;
    }
    .section-head p {
        font-size: 18px;
        line-height: 22px;
    }
    .section-head {
        margin-bottom: 20px;
    }
    .adv-dec-1 {
        display: none;
    }
    .adv-dec-2 {
        display: none;
    }
    .advantages-items {
        overflow-x: auto;
        width: 110%;
        position: relative;
        padding-bottom: 16px;
    }
    .section-head {
        text-align: center;
    }
    .advantages-items::after {
        content: "";
        flex: 0 0 40px;
    }
    .advantages-items .card {
        width: 215px;
        flex: unset;
        min-width: 215px;
    }
    .advantages-num {
        width: 38px;
        height: 38px;
        font-size: 20px;
        min-width: 38px;
    }
    .howto__tabs {
        display: none;
    }
    .howto-dec-1,
    .howto-dec-2,
    .howto-bg-dec,
    .howto-bg-dec-2 {
        display: none;
    }
    .howto__cards {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 0 20px;
    }
    .howto__cardtext {
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 8px;
    }
    .howto__cardlink {
        font-size: 13px;
        line-height: 15px;
    }
    .howto__card {
        padding: 16px 20px;
    }
    .howtoslider__hotspot {
        position: relative;
        transform: none;
        top: unset;
        left: unset;
        bottom: unset;
        right: unset;
        display: flex;
        gap: 8px;
        align-items: center;
        margin-bottom: 16px;
        padding: 0 20px;
    }
    .howtoslider__img {
        border-radius: 8px;
        position: relative;
        margin-bottom: 32px;
    }
    .howtoslider__img {
        height: 220px;
    }
    .howtoslider__bubble {
        position: relative;
        top: unset !important;
        left: unset !important;
        bottom: unset !important;
        right: unset !important;
        background: none;
        width: unset;
        max-width: unset;
        padding: 0;
        backdrop-filter: none;
        box-shadow: unset;
        transform: none !important;
        font-size: 15px;
        text-align: unset;
    }
    .howtoslider__dot {
        min-width: 18px;
        height: 18px;
    }
    .howtoslider__bubble::after {
        display: none;
    }
    .howtoslider__prev, .howtoslider__next {
        width: 40px;
        height: 40px;
        top: 100px;
    }
    .howtoslider__prev {
        left: 20px;
    }
    .howtoslider__next {
        right: 20px;
    }
    .howtoslider {
        margin-top: 0;
    }
    .section {
        margin-bottom: 20px;
    }
   .pricing-items {
        overflow-x: auto;
        width: 110%;
        position: relative;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-bottom: 16px;
    }
    .pricing-items::after {
        content: "";
        flex: 0 0 40px;
    }
    .pricing-item {
        width: 270px;
        flex: unset;
        min-width: 270px;
    }
    .order__inner {
        flex-direction: column;
    }
    .order__title {
        font-size: 33px;
        line-height: 36px;
    }
    .section-head-2 h2 {
        font-size: 33px;
    }
    .etaps-items {
        overflow-x: auto;
        width: 110%;
        position: relative;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-bottom: 16px;
    }
    .etaps-items::after {
        content: "";
        flex: 0 0 40px;
    }
    .etap-item {
        min-width: 250px;
    }
    .order__card {
        width: 100%;
        max-width: unset;
    }
    .etaps-button-wrapper {
        margin-top: 20px;
    }
    .reviews .section-head-2 {
        text-align: center;
    }
    .rev-dec-2 {
        display: none;
    }
    .rev-dec-3 {
        display: none;
    }
    .rev-dec-1 {
        display: none;
    }
    .reviews-items {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 110%;
        position: relative;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-bottom: 16px;
    }
    .reviews-items::after {
        content: "";
        flex: 0 0 40px;
    }
    .review-item {
        width: 300px;
        min-width: 300px;
    }
    .review-item-text {
        font-size: 16px;
    }
    .review-item-text {
        padding: 32px 20px;
    }
    .section-head-2 p {
        font-size: 18px;
        line-height: 20px;
    }
    .reviews-lower {
        flex-direction: column;
        gap: 16px;
    }
    .connect-bg {
        display: none;
    }
    .connect-dec-1 {
        display: none;
    }
    .connect-form {
        flex-direction: column;
    }
    .connect-form button {
        width: 100%;
    }
    .connect-form {
        width: 100%;
    }
    .connect-form-in-wrap input {
        width: 100%;
    }
    .connect-form-in-wrap {
        width: 100%;
    }
    .connect .section-head-2 h2 {
        font-size: 28px;
        line-height: 32px;
    }
    .phonebox-img-phone {
        height: 360px;
    }
    .phonebox-wrap {
        padding: 32px;
        overflow: hidden;
    }
    .phonebox-content {
        text-align: center;
    }
    .phonebox-dec-1, .phonebox-dec-2 {
        display: none;
    }
    .phonebox-wrap h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .phonebox-wrap {
        padding: 64px 32px;
        align-items: flex-start;
    }
    .phonebox-wrap p {
        font-size: 18px;
        line-height: 22px;
    }
    .phonebox-wrap {
        padding-bottom: 400px;
    }
    .phonebox-elipse-big {
        width: 90%;
    }
    .phonebox-img-phone {
        left: 50%;
        transform: translateX(-50%);
    }
    .phonebox-elipse-sm {
        right: unset;
        left: 64px;
    }
    .phonebox-elipse-big {
        bottom: -34px;
    }
    .sale .section-head-2 {
        text-align: center;
        max-width: 340px;
        margin: 0 auto 20px;
    }
    .sale-dec-1 {
        display: none;
    }
    .sale-dec-2 {
        display: none;
    }
    .phonebox-actions {
        margin: 0 auto;
    }
    .sale-slider__swiper .swiper-wrapper {
        gap: 20px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 110%;
        position: relative;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-bottom: 16px;
    }
    .sale-slider__swiper .swiper-slide{
        width: 285px;
    }
    .sale-slider__swiper .swiper-wrapper::after {
        content: "";
        flex: 0 0 40px;
    }
    .sale-slider__swiper {
        overflow: unset;
    }
    .sale-btn-wrap {
        margin-top: 0;
    }
    .sale-card-btn span{
        font-size: 17px;
    }
    .sale-card {
        padding: 32px 20px;
    }
    .sale-card__title {
        font-size: 26px;
        line-height: 28px;
    }
    .sale-card__media {
        width: 80%;
    }
    .sale-card--green .sale-card__media {
        width: 120%;
    }
    .example-dec-1,
    .example-dec-2,
    .example-dec-3 {
        display: none;
    }
    .examples-items {
        gap: 20px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 110%;
        position: relative;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-bottom: 16px;
    }
    .examples-items::after {
        content: "";
        flex: 0 0 40px;
    }
    .examples-item {
        width: 240px;
        min-width: 240px;
        flex: unset;
        height: 300px;
    }
    .examples .section-head {
        text-align: center;
        max-width: 340px;
        margin: 0 auto 20px;
    }
    .gift-wrapper {
        flex-direction: column;
    }
    .gift-form {
        flex-direction: column;
        width: 100%;
    }
    .gift-form input {
        width: 100%;
    }
    .gift-text-mob-title {
        display: block;
    }
    .gift-text {
        flex-wrap: wrap;
        align-items: center;
        gap: 16px;
        justify-content: center;
    }
    .gift-text img {
        width: 50px;
    }
    .gift-text-mob-title {
        width: 100%;
        text-align: center;
    }
    .gift-text-wrapper h2 {
        display: none;
    }
    .gift-text p {
        font-size: 16px;
        line-height: 18px;
        max-width: 300px;
    }
    .team-wrap {
        flex-direction: column;
    }
    .team-dec-1 {
        display: none;
    }
    .team-dec-2 {
        display: none;
    }
    .team-text {
        text-align: center;
    }
    .team-text h2 {
        margin: 0 auto 16px;
        font-size: 33px;
        font-weight: 500;
        line-height: 33px;
        max-width: 250px;
    }
    .team-text p {
        font-size: 18px;
        max-width: 300px;
        margin: 0 auto;
        line-height: 20px;
    }
    .team-text a {
        display: none;
    }
    .team-wrap {
        gap: 32px;
    }
    .team-items {
        gap: 20px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 110%;
        position: relative;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-bottom: 16px;
    }
    .team-items::after {
        content: "";
        flex: 0 0 40px;
    }
    .team-item {
        min-width: 270px;
    }
    .team-wrap {
        align-items: unset;
    }
    .team-go-btn-mob {
        display: flex;
        justify-content: center;
        margin-top: 0;
    }
    .team-go-btn-mob-a {
        display: block;
    }
    .faq-dec-1 {
        display: none;
    }
    .faq-wrap {
        flex-direction: column;
        gap: 4px;
    }
    .faq .section-head-2 {
        margin-bottom: 8px;
        text-align: center;
    }
    .faq .section-head-2 h2 {
        font-size: 33px;
        line-height: 33px;
    }
    .accordion-item-header {
        padding: 24px 20px;
        gap: 20px;
        line-height: 18px;
    }
    .footer-top-cols {
        flex-wrap: wrap;
        gap: 16px;
    }
    .footer-col {
        max-width: unset;
        flex: 1;
        min-width: 150px;
        max-width: 200px;
    }
    .footer-col-title {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 16px;
        max-width: 165px;
    }
    .footer-col a {
        font-size: 13px;
        line-height: 13px;
    }
    .footer-col-title {
        height: unset;
    }
    .footer-col a {
        margin-bottom: 16px;
    }
    .footer-items {
        flex-direction: column;
        gap: 20px;
    }
    .footer-logo {
        margin-bottom: 24px;
    }
    .footer-policy {
        margin-top: 0px;
    }
    .footer-item:last-child {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .footer-pays {
        margin-bottom: 20px;
    }
    .footer-item-mid .footer-codes {
        display: none;
    }
    .footer-item:first-child .footer-policy{
        display: none;
    }
    .footer-item-mob {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }
    .footer-c-btn {
        display: none;
    }
    .footer-c-btn-mob {
        display: flex;
        padding-left: 16px;
        padding-right: 16px;
        margin-top: -4px;
        margin-bottom: 0;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .footer .header__socials {
        align-items: center;
    }
    .footer-item-mid {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        row-gap: 0;
    }
    .sale-btn-low {
        text-wrap: nowrap;
    }
    .phonebox-wrap {
        padding-right: 20px;
        padding-left: 20px;
    }
    .connect {
        padding-bottom: 0;
    }
    .order__img {
        height: 515px;
    }
    .order__left {
        margin-bottom: 24px;
    }
    .order__inner {
        gap: 0;
    }
    .header-burger {
        display: flex;
        width: 45px;
        height: 45px;
        background: var(--blue);
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    .header-burger img {
        width: 25px;
        height: 25px;
    }
    .nav {
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
    .nav__link {
        color: var(--text);
        font-size: 18px;
    }
    .fixed-connects {
        left: 50%;
        transform: translateX(-50%);
        flex-direction: row;
        width: fit-content;
        bottom: 50px;
    }
    .footer {
        padding-bottom: 120px;
    }
    .service__table__scroll {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 110%;
        position: relative;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-bottom: 16px;
    }
    .service__table__scroll::after {
        content: "";
        flex: 0 0 64px;
    }
    .service__table.is-open .service__table__scroll {
        overflow-x: auto !important;
    }
    .service__table__wrap {
        overflow: unset;
    }
    .service__table__fade {
        width: 150%;
    }
    .hub .section-head-2 {
        max-width: 300px;
        margin: 0 auto 20px;
    }
    .hub-item {
        font-size: 13px;
        padding: 13px 10px;
        gap: 8px;
    }
    .bannerscreen {
        padding-top: 32px;
    }
}

@media (max-width: 768px) {
    
}
